include pyproject.toml
include *.md # Include the README
include LICENSE
include setup.py
include tox.ini
graft docs
prune examples
# prune examples/notebooks
prune docs
prune tests
global-exclude *.pyc


